*.ignore
gwpopulation.egg-info
build/*
outdir
logs/*
**/__pycache__/*
__pycache__/*
*/_build/
*/.ipynb*
.coverage
.coverage.*
venv/
.idea/
**/.version
**/_version.py
.vscode
.ipynb_checkpoints*
*/*/.ipynb*
examples/*.pkl
examples/*.tar.gz
examples/*.py
examples/GWTC-1_sample_release